.reactMusicPlayerHeaderWrapper{
  width: 100%;
  height:auto;
  .reactMusicPlayerHeaderInner{
    width: 1220px;
    height: 70px;
    margin: 0 auto;
    padding: 20px;
    font: 12px arial;
    zoom: 1;
    .playerIcon{
      background: url("../images/music.png") no-repeat center 50%;
      width: 66px;
      height:66px;
      padding: 2px;
      float:left;
    }
    .playTitle{
      font-family: "Microsoft YaHei UI";
      font-size: 34px;
      height: 100%;
      margin: 0;
      padding-left: 10px;
      line-height: 70px;
      float: left;
    }
  }
}