.PlayIcon{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 180px;
  height: 180px;
  background-color: rgba(51,51,51,.1);
  background-image: url("../images/play.png");
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: 50% 50%;
  &.Pause{
    background-image: url("../images/pause.png");
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: 50% 50%;
  }
}