.reactMusicPlayerMain{
  width:520px;
  height:520px;
  margin: 100px auto;
  border: #ccc;
  background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1530535457553&di=c2e33c0612127e8f0a75a9da19ef6068&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F0b7b02087bf40ad1cd0f99c55d2c11dfa9ecce29.jpg") no-repeat center 50%;
  position: relative;

}