.reactMusicPlayerMain{
  width:520px;
  height:520px;
  margin: 100px auto;
  border: #ccc;
  background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1530520863470&di=fb1f1e66f0ee198d5324c6ad8bff6688&imgtype=0&src=http%3A%2F%2Fimgs.focus.cn%2Fupload%2Fnews%2F6393%2Fb_63922412.jpg") no-repeat center 50%;
  position: relative;

}